<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="inProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT " value="Development" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WsSalesOrderDetails_OBBinding" closeTimeout="00:50:00" openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mkrppod01.mikroportal.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MIKROPORTAL&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SalesOrderDetails_OB&amp;interfaceNamespace=http://mikroportalintegration/services " binding="basicHttpBinding" bindingConfiguration="WsSalesOrderDetails_OBBinding" contract="WsSalesOrderDetails_OBService.SI_SalesOrderDetails_OB" name="SalesOrderDetails_OBPort" />
    </client>
  </system.serviceModel>

</configuration>