@{
    ViewData["Title"] = "Sales Order Details";
    ViewData["AltBaslik"] = "Test Alt başlık";
}
<h1>@ViewData["Title"]</h1>
<hr />
<h2>@ViewData["AltBaslik"]</h2>
<h3>@ViewBag.Message</h3>

<p>This page usage for Sales Order Details.</p>
